@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --mat-sys-primary: #0C2340;
  --mat-sys-secondary: #00843D;
  --mat-sys-tertiary: #C99700;
}

body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}
